*{
    padding: 0PX;
    border: 0PX;
}
.nav4 {
    margin:30px;
    display:flex;
    justify-content:space-between;
}
.nav4 img{
    width:100px;
    height:85px;
}
.nav4 ul{
    display:inline-flex;
    list-style-type:none;
    padding:0px;
}
.nav4 ul li{
    margin-left:30px;
    list-style:none;

}

.about{
    font-size: 100px;
    margin-left: 50PX;
}
.main{
    display: flex;
}
.three{
    font-size: 20px;
}
.code1 img{
    height:350px;
    width: 350px;    
    padding: 30px;
}
.design1 img{
    height:350px;
    width: 350px;
    padding: 30px;;
}

.four{
    font-size: 20px;
    align-content:baseline;
}
.market1 img{
    height:350px;
    width: 350px;
    padding: 30px;
    
}

.five{
    font-size: 20px;
    margin-left: 50px;
    align-content:baseline;
}
.main11{
    display: flex;
}




.three11{
    font-size: 20px;
}
.code11 img{
    height:350px;
    width: 350px;    
    padding: 30px;
}
.design11 img{
    height:350px;
    width: 350px;
    padding: 30px;;
}

.four11{
    font-size: 20px;
    align-content:baseline;
}
.market11 img{
    height:350px;
    width: 350px;
    padding: 30px;
    
}

.five11{
    font-size: 20px;
    margin-left: 50px;
    align-content:baseline;
}
.nav-pro-news{
    display: flex;
    margin-top: 50px;
}
.navigation{
padding: 40px;

}

.navigation ul{
    list-style-type:none;
    padding:25px;
    font-size: 30px;
}
.navigation ul li{
    margin-left:30px;
    list-style:none;
}


.product{
padding:40px;
}

.product ul{
    list-style-type:none;
    padding:25px;
    font-size: 30px;
}
.product ul li{
    margin-left:30px;
    list-style:none;
}
.news{
    padding:40px;
    font-size: 20px;
}
.news p{
    font-size: 30px;
    padding: 25px;
}
.bton{
    display:flex;
    padding:35px;
    border-radius: 6px;
    margin:40px;
}
.bton1{
    padding:40px;
}
.bton2{
    padding:40px;
}
.bton3{
    padding:40px;
}
.pp{
    font-size: 15px;
    padding: 5px;
}
